asgiref==3.7.2
async-timeout==4.0.3
autobahn==23.6.2
Automat==22.10.0
beautifulsoup4==4.10.0
bs4==0.0.1
channels==4.0.0
channels-redis==4.1.0
chardet==5.2.0
constantly==23.10.4
daphne==4.0.0
distlib==0.3.6
Django==4.2.7
django-allauth==0.54.0
django-cors-headers==4.3.1
django-rest-auth==0.9.5
djangorestframework==3.14.0
docopt==0.6.2
filelock==3.9.1
hyperlink==21.0.0
incremental==22.10.0
msgpack==1.0.7
oauthlib==3.2.2
platformdirs==3.1.1
psycopg2-binary==2.9.9
pyasn1==0.5.0
pyasn1-modules==0.3.0
python-dotenv==1.0.1
python3-openid==3.2.0
redis==5.0.1
service-identity==23.1.0
soupsieve==2.3.1
sqlparse==0.4.4
txaio==23.1.1
tzdata==2023.3
virtualenv==20.21.0
webencodings==0.5.1
yarg==0.1.9
zope.interface==6.1
